*{
    margin: 0;
    padding: 0;

}
body{
    height: 100%;
    width: 100%;
    font-family: "Oswald", sans-serif;
    position: relative;
    /* background-color: aqua; */
}

/* utill properties */
.flex{
    display: flex;

}
.justify-center{
    justify-content: center;

}
.justify-btw{
    justify-content: space-between;

}
.justify-evenly{
    justify-content: space-evenly;
}
.align-center{
    align-items: center;

}
.justify-around{
    justify-content: space-around;
}


/* inside body */

section.wrapper{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #1A1A1A;
    background-image: url("https://wallpaperaccess.com/full/109392.jpg");
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

/* header tag */

header.header{
    
    width: 100%;
    height: 20vh;
    /* background-color: aliceblue; */
    gap: 2px;
}
.head-part{
    height: 100%;
    width: 40%;
    position: relative;
    /* background-color: aqua; */
}
#head-left h1{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    
}
#head-right .toggle-btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: 700;
    color: white;
}
main{
    height: 80vh;
    width: 100%;
    margin: 0;
    position: relative;
    /* background-color: aliceblue; */
}
section#menu{
    height: 9vh;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 0;
    /* display: none; */
    background: linear-gradient(80deg,rgba(21, 81, 81, 0.466),rgba(251, 241, 195, 0.428));
}

.menu{
    float: right;
    padding: 10px;
    width: 50%;
}
.menu ul li{
    list-style: none;
    padding: 5px;
    overflow: hidden;
}
.menu ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    position: relative;
    letter-spacing: 1px;
    
}
.list-item li a::after{
    content: "";
    height: 10%;
    width: 210%;
    left: 0;
    bottom: 0;
    background-color: antiquewhite;
    position: absolute;
    
    transition: all 1s ease-in-out ;
    /* animation: menu-flip .5s ease-in-out; */
}
.list-item li:hover ::after{

    transform: rotate(90deg);
    background-color: aqua;
    
}
.list-item li:hover a{
    color: aqua;
    
}


section.container{
    width: 80%;
    height: 80%;
    z-index: 1;
    /* align-self: center; */
    position: relative;
    transform: translate(12.5%, 16%);
    /* margin: 10vh auto; */
    background-color: rgba(18, 20, 20, 0.496);
    border-radius: 16px;
    overflow: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
section.container::-webkit-scrollbar{
    width: 0px;
}
a{
    text-decoration: none;
    color: wheat;
}
.container .page{
    height: 100%;
    width: 100%;
    padding: 20px;
    margin-bottom: 1px;
    /* background-color: #93292982; */
    position: relative;
    scroll-snap-align: start;
}
.home-left{
    height: 100%;
    width: 60%;
    padding: 80px 20px;
    /* flex-direction: column; */
    /* background-color: #1A1A1A; */
}
.home-left h3, span{
    font-size: 40px !important;

}
.home-left span{
    color: aqua;
}
.home-left h3, span, p{
    /* transform: translate(0, -60px); */
    font-size: 20px;
    color: aliceblue;
} 


.home-right{
    height: 100%;
    width: 40%;
    padding: 20px;
    position: relative;

    /* background-color: #1A1A1A; */
}
#home hr{
    height: 90%;
    margin: auto;
}
.home-right .circle-container{
    padding: 20px;
    height: 40vh;
    width: 40vh;
    overflow: hidden;
    transform: translate(0, -20px);
    position: relative;
    background-color: #1A1A1A;
    border-radius: 50%;
}
.home-right .circle-container .roller{
    width: 30%;
    height: 120%;
    
    align-self: center;
    animation: rotation 3s linear infinite;
    /* border-radius: 50%; */
    transition: all .5s linear;
    background: linear-gradient(30deg, #47190C , #FF2C0B);
}
@keyframes rotation {
    0%{
        transform: rotate(0deg);

    }
    100%{
        transform: rotate(360deg);
    }
    
}

.circle-container:hover .roller{
    width: 100%;
}
.image-container{
    width: 95%;
    height: 95%;
    background-color: #1A1A1A;
    border-radius: 50%;
    position: absolute;
    left: 8px;
    bottom: 8px;
    background-image: url("https://cdn-icons-png.flaticon.com/256/40/40323.png");
    background-size: cover;
    transition: all .5s ease-in-out ;
}
.social-media-contact{
    font-size: 2em;
}
.social-media-contact a:nth-child(1):hover{
    color: blue;
}
.social-media-contact a:nth-child(2):hover{
    color: pink;
}
.social-media-contact a:nth-child(3):hover{
    color: black;
}
.social-media-contact a:nth-child(4):hover{
    color: darkblue;
}
.resume-down{
    width: 95%;
    height: 95%;
    background-color: #1A1A1A;
    border-radius: 50%;
    position: absolute;
    flex-direction: column;
    left: 8px;
    bottom: 8px;
    opacity: 0;
    transform: rotateX(180deg);
    transition: all .5s ease-in-out;

}
.resume-down button{
    transform: translate(0,10px);
    background-color: #47190C;
    padding: 8px;
    font-weight: 900;
    font-size: 15px;
    border-radius: 16px;

}
.circle-container:hover .image-container{
    transform: rotateX(180deg);
    opacity: 0;
}

.circle-container:hover .resume-down{
    opacity: 1;
    transform: rotateX(0deg);

}

section#contact-page{
    height: 100%;
    width: 100%;
    
}
#contact-page form{
    width: 80%;
    height: 100%;
    margin: auto;
}
.form-field{
    display: flex;
    flex-direction: column;
    height: 90%;
    padding: 10px 10px;
    
    border-radius: 16px;
    border: 5px solid white;
    position: relative;
    box-shadow: 2px 2px 10px white,-2px -2px 10px white;
}
legend i{
    padding: 2px;
    background-color: #1a1a1aab;
}
legend{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: aliceblue;

}
.form-field .contact-inp{
    background-color: rgba(255, 255, 255, 0.259);
    border-radius: 16px;
    margin: 0 auto;
    width: 90%;
    height: 50px;
    padding: 10px;
    gap: 2px;
    backdrop-filter: blur(1px);
}
.form-field .contact-inp::placeholder{
    color: antiquewhite;
    font-weight: 600;
}
.form-field input:focus{
    outline: none;
    color: aliceblue;
    background-color: #ff2c0b25;
}
textarea{
    height: 120px !important;
    margin-top: 2px;
}
.form-field button{
    width: 120px;
    margin-top: 40px;
    align-self: center;
    border: 5px solid yellow;
    border-radius: 16px;
    font-weight: 600;
    color: aliceblue;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.643);

}

/* services page  */
#Services{
    flex-direction: column;
    
}

#Services h1{
    color: orangered;
    font-size: 2em;
}
.services-block{
    height: 80%;
    width: 90%;
    
    border-radius: 16px;
    /* background-color: #47190C; */

}
.service{
    width: 15vw;
    height: 40vh;
    border-radius: 10%;
    background-color: rgba(245, 245, 245, 0.247);
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    filter: blur(1px);
}

.service:hover{
    filter: saturate(200%);
    width: 16vw;
    height: 41vh;
    box-shadow: 10px 10px 10px black;
    transform: translate(0, -10%);
}

.service p{
    text-align: center;
    font-size: 1em;
    /* margin: auto; */
    
}
.service h3{

    font-size: 3em;
    color: #ff2c0b86;

}
.service h5{
    font-size: 2em;
    text-align: center;
}


/* project page */
#Projects{
    flex-direction: column;
}
#Projects h1{
    color: orangered;
    font-size: 2em;
}
.box{
    height: 80%;
    width: 90%;
    padding-top: 20px;
    /* margin: auto; */
    margin-left: -4%;
    /* background-color: #1A1A1A; */
    position: relative;
    flex-wrap: wrap;
    /* gap: 35px; */
}
.box .project{
    height: 20vh;
    width: 20vw;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.339);
    overflow: hidden;
    position: relative;
}
.project::after{
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.434), rgba(29, 27, 27, 0.726));
    position: absolute;
    bottom: -100%;
    /* z-index: 0; */
    transition: all .5s ease-in-out;
}
.project:hover::after{
    bottom: 0;
    
}